._*
*.py[cod]
*.sw[odp]
*.db
*.deb
!sebug.db
.tmp
.sass-cache
*env/
node_modules
.DS_Store
.idea
.venv
bin/*
docs/_build/
.coverage
.Python
db.sqlite3
*.log
*.orig
!bin/gitlab-ci.sh
!bin/dev/
license/*
!license/radar.pub
update
*.sublime-project
*.sublime-workspace
*.ropeproject
download/*
.fuse*
