.countTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -10px;
}

.countTitle > span:nth-child(1) {
  font-size: 5em;
  font-family: 'Counter';
  color: #02abf7;
}

.countTitle > span:nth-child(2) {
  font-size: 1.5em;
  margin-left: 10px;
}

.line {
  position: absolute;
  width: 20em;
  left: 50%;
  margin-left: -10em;
  border-top: 1px solid #3cbcf5;
}

.chartDiv {
  padding-top: 10px;
  padding-left: 50px;
  float: left;
  width: 49%;
}

.chartDiv:nth-child(1) {
  height: 420px;
  margin-top: 30px;
  border-right: 1px solid #ddd;
}
