@font-face {
  font-family: 'Counter';
  src: url('/fonts/DS-DigitalBold.ttf') format('truetype');
}

.section1 {
  background-image: url(images/section1_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: normal;
  background-attachment: fixed;
}
